@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.banner {
  height: 85px;
}
body {
  background-color: rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 2px 8px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.active {
  background-color: rgba(32, 32, 32, 0.56);
}
header .logo {
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
}
.nav,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-right: 61px;
  position: relative;
  background-color: #fff;
  padding: 10px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 450px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #161919;
}

.nav input {
  width: 48px;
  height: 41px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 21px;
  width: 29px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

/* section {
  height: 100vh;
  width: 100%;
} */

.logo1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo2 {
  width: 7vw;
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.power {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.overlay {
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  text-align: center;
  color: rgb(49, 48, 48);
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");
.overlay h3 {
  font-family: "Nunito", sans-serif;
  color: #373636;
  margin-bottom: 10px;
}
.power img {
  max-width: 90%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: block;
  margin: 0 auto;
}
.contains {
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 5%;
  width: 85%;
  height: auto;
  border-color: brown;
}
strong {
  position: relative;
}
strong::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: -1;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.power h3 {
  font-size: 18px;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}
.line h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 25px;
}
.wrapper1 {
  position: absolute;
  top: 45.4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper1 {
  position: relative;
}

.wrapper1 a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

.wrapper1 a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.wrapper1 a:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

P {
  font-size: 18px;
  font-weight: 500;
}
.sec-title1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 18px;
}
.Submission {
  position: relative;
  top: 30px;
}
h3 {
  font-weight: bold;
}
.alert-heading {
  font-weight: 900;
}
.alert > p {
  font-weight: 400;
}

.alert a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}
.alert a:hover {
  width: 300px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}
.contact a:hover {
  width: 300px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}
.container a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
  position: relative;
  left: 20px;
  bottom: 8px;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}
footer {
  font-family: "Poppins", sans-serif !important;
  color: #d9d9d9;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.center a:hover {
  width: 300px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}
.contact {
  display: inline-flex;
  position: relative;
}
.size {
  position: relative;
  height: 100% !important;
}
.footer-distributed {
  background: #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons i {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-left p {
  font-size: 14px;
}
@media (max-width: 430px) {
  .contains {
    margin-left: 9%;
    width: 82%;
    margin-right: 5% !important;
    text-align: justify;
    height: auto;
  }
  /* .wrapper {
    position: absolute;
    top: 69%;
    left: 53%;
    transform: translate(-50%, -50%);
  } */
  .container {
    display: table-row;
  }
  .contact {
    display: table-row;
  }

  .size {
    height: 348vh !important;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .placing {
    width: 225px;
  }
  .footer-center {
    width: 20px;
  }
  .image-container img {
    width: 100%;
    height: 525px;
  }
  .image-container::after {
    height: 525px;
  }
  .overlay h3 {
    font-size: 0.5em;
  }
  .nav {
    display: none !important;
  }
  .logo2 {
    width: 16vw;
  }
  h2 {
    font-size: 17px;
  }
  .Commitee {
    height: 124vh;
  }
  /* Adjust card width and margin */
  .card {
    width: 100%;
    margin: 10px;
    height: auto;
    min-height: unset;
  }

  .card .card-img {
    transform: unset;
    margin: 0;
  }

  .card:hover .card-img {
    transform: unset;
  }

  .card-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn {
    min-width: 30px;
    margin: 5px;
  }

  .slider {
    height: auto;
    min-height: 250px;
  }

  .slider:after,
  .slider:before {
    display: none;
  }
  .Commitee > img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: 90px;
    width: 390px;
  }
  .contains {
    height: auto;
  }
  .line h2 {
    font-size: 18px;
  }
  .wrapper1 {
    position: absolute;
    top: 10.9%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper1 a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all 0.35s;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#preloader.fade-out {
  opacity: 0;
}

.loader {
  width: 130px;
  height: 130px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-circle {
  fill: none;
  stroke: #3498db;
  stroke-width: 8;
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes dash {
  0% {
    stroke-dashoffset: 150;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -150;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(0, 126, 180);
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 100px;
  font-size: 10px;
}

#myBtn:hover {
  background-color: #555;
}
